<p>
  <strong>Title:</strong>
  <%= @rule.param %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @rule.treshold %>
</p>

<p>
  <strong>Text:</strong>
  <%= @rule.users %>
</p>

<%= link_to 'Back', rules_path %>